# Ambientes virtuais
.venv/
venv/
env/

# Arquivos compilados do Python (lixo gerado automaticamente)
__pycache__/
*.pyc
.env

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db
